* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #00abf0;
  --text-color: white;
  --main-color: #00ffee;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}

.logo span {
  text-shadow: 0 0 25px var(--main-color);
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s;
}

.navbar a {
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--second-bg-color);
}

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: var(--second-bg-color);
}

.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.home-content .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: var(--bg-color);
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: var(--second-bg-color);
  border: 2px solid var(--second-bg-color);
  border-radius: 8px;
  font-size: 19px;
  color: var(--bg-color);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: var(--second-bg-color);
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: var(--second-bg-color);
}

.btn-box a:nth-child(2):hover {
  color: var(--bg-color);
}

.btn-box a:nth-child(2)::before {
  background: var(--second-bg-color);
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover:before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 275px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: var(--bg-color);
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--second-bg-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--second-bg-color);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: var(--bg-color);
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover:before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 0;
  right: 30px;
  width: 500px;
  height: 100%;
  background: transparent;
  transition: 3s;
  animation: manipActiveHover 0.1s forwards;
  animation-delay: 4s;
  pointer-events: none;
}

.home-imgHover:hover {
  background: var(--bg-color);
  opacity: 0.8;
}

.home-imgHover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: var(--bg-color);
  width: 140%;
  height: 100%;
  animation: showRight 1s ease forwards;
  animation-delay: 3s;
  z-index: 100;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}

.home-img .img-box {
  width: 32vw;
  height: 32vw;
  margin-bottom: 100px;
  margin-left: 300px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: left;
  overflow: hidden;
}

.home-img .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  box-shadow: 0 0 25px var(--main-color);
  z-index: 1;
  justify-content: center;
  overflow: hidden;
}

.home-img .img-box .img-item img {
  position: absolute;
  display: block;
  width: 95%;
  object-fit: cover;
  mix-blend-mode: lighten;
}

.heading {
  font-size: 4rem;
  text-align: center;
  margin: 5rem 0;
}

.about {
  padding: 100px 15px;
  background: var(--bg-color);
}

.about h2 {
  margin-bottom: 5rem;
}

.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--text-color);
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: var(--bg-color);
  border: 3px solid var(--text-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(#081b29);
}

.timeline-content h3 {
  font-size: 20px;
  color: white;
  font-weight: 500;
}

.timeline-content p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.services {
  background: var(--bg-color);
  color: white;
}

.services h2 {
  margin-bottom: 3rem;
  color: white;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.services-box {
  background-color: var(--second-bg-color);
  height: 300px;
  border-radius: 3rem;
  border: 5px solid transparent;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.services-box:hover {
  background: white;
  color: black;
  border: 5px solid var(--bg-color);
  transform: scale(1.03);
}

.services-box .services-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-height: 200px;
  justify-content: left;
  align-items: baseline;
  padding: 5rem 5rem;
}

.services-info h4 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 2;
}

.services-info p {
  font-size: 1.2rem;
  font-weight: 600;
  max-height: 100px;
  line-height: 1.1;
  margin: auto;
}

.portfolio {
  background: var(--bg-color);
}

.portfolio-box {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio .heading {
  margin-bottom: 3rem;
}

.portfolio-box img {
  width: 15rem;
  border-radius: 50%;
  border: 3px solid var(--second-bg-color);
  box-shadow: 0 0 25px var(--second-bg-color);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.portfolio-item {
  min-height: 550px;
  max-width: 450px;
  background-color: rgba(0, 0, 0, 7);
  border: 3px solid rgba(238, 238, 238, 0.2);
  border-radius: 2rem;
  margin: 0 2rem;
  padding: 30px 60px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  color: white;
  transition: 0.4s ease-in-out;
}

.portfolio-item:hover {
  border: 3px solid var(--second-bg-color);
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 0 50px var(--second-bg-color);
}

.portfolio-item h2 {
  font-size: 2.8rem;
}

.portfolio-item p {
  font-size: 1.3rem;
}

.contact {
  background-color: var(--bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
  color: white;
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3;
  margin: 5rem auto;
  text-align: center;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2rem;
  font-size: 1.3rem;
  color: var(--bg-color);
  background: var(--text-color);
  border-radius: 2rem;
  border: 2px solid var(--bg-color);
  margin: 1.5rem 0;
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--bg-color);
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--bg-color);
}

.footer .social a {
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid var(--text-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
}

.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: var(--main-color);
  color: black;
  box-shadow: 0 0 25px var(--text-color);
}

.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer .copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: white;
}

@media (max-width: 1285px) {
  html {
    font-size: 55%;
  }
  .services-container {
    padding-bottom: 7rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5rem;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .services {
    padding-bottom: 7rem;
  }
  .portfolio .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact form {
    flex-direction: column;
  }
  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 895px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }
  .navbar .active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: white;
  }
  .home {
    flex-direction: column-reverse;
    margin: 5rem 4rem;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 8rem;
    margin-top: 3rem;
  }
  .home-content p {
    max-width: 600px;
    margin: 0 auto;
  }
  .home-img img {
    width: 500vw;
  }
  .services h2 {
    margin-bottom: 3rem;
  }
  .services-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
